*{
	margin: 0;
}
nav
{
	width: 1200px;
}
nav ul
{
	list-style: none;
}
nav ul li{
	background-color: green;
	text-align: center;
	width: 250px;
	/*display: inline;*/
	float: left;
	border-right: 2px solid black;
	line-height: 50px;
	/*slowly change effects after2 s*/
	transition: background 2s ,line-height 1s;
}

nav ul li:first-of-type
{
	border-left: 2px solid black;
}
/*nav ul li:last-of-type
{
	border-right: 0;
}*/
nav ul li a{
	color: #fff;
	text-decoration: none;
}
nav ul li:hover
{
	background-color: orange;
	line-height: 60px;
}